.container {
  position: relative;
  width: 100%;
  height: 70vh;
  margin-bottom: 150px;
  color: whitesmoke;
  text-align: center;
}

.preview {
  position: absolute;
  width: 60%;
  z-index: 1;
}

.editor {
  position: absolute;
  margin-left: 60%;
  width: 40%;
}
