* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  max-width: 100px;
  max-height: 100px;
  cursor: move;
}
.active {
  color: #fc036b;
  text-decoration: underline;
  font-weight: bold;
}

ul {
  list-style: none;
}

.navBar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex ;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: whitesmoke;
}

.navLinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navLinks a {
  text-decoration: none;
  cursor: move;
}

.navLinks li {
  margin: 0 30px;
}

.header {
  width: 60vw;
  height: 100vh;
  background-image: url("https://cdn.pixabay.com/photo/2016/12/11/12/02/mountains-1899264__480.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h2 {
  font-size: 4vmin;
  cursor: move;
}

.line {
  width: 150px;
  height: 4px;
  background-color: #fc036b;
  margin: 10px auto;
  cursor: move;
}

.description {
  font-size: 3vmin;
  margin-top: 50px;
  margin-bottom: 30px;
  color: black;
  font-weight: bold;
  cursor: move;
}

.ctn {
  text-decoration: none;
  margin-top: 20px;
  padding: 8px 15px;
  background-color: #fc036b;
  border-radius: 30px;
  color: whitesmoke;
  cursor: move;
}

/* .menuBtn{
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  cursor: move;
  
} */

@media only screen and (max-width:850px){

  .navBar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: whitesmoke;
  }
  

  .logo{
    width: 40px;
    height: 40px;
    margin-top:0;
    margin-left: 0;
  }


  .navLinks{
    display: flex;
  align-items: center;
  
  
   
  }

 
  .navLinks li{
    margin: 0 10px ;
  }

  .navLinks a {
    text-decoration: none;
    cursor: move;
    font-size: 9px;
    font-weight: bold;
  }

  .active {
    color: #fc036b;
    text-decoration: underline;
    font-weight: bold;
  }
  
} 
